.Form {
    width: 500px;
    margin: 0 auto;
    margin-top: 150px;
}
.Form-Item{
    position: relative;
    margin-bottom: 15px;
}
.Form-Item input{
    display: block;
    width: 400px;
    height: 40px;
    background: transparent;
    border: 1px solid #ccc;
    transition: all .3s ease;
    padding: 0 15px;
}
.Form-Item input:focus{
    border-color: blue;
}

.Form-Item label{
    position: absolute;
    cursor: text;
    z-index: 2;
    top: 13px;
    left: 10px;
    font-size: 12px;
    font-weight: bold;
    background: #fff;
    padding: 0 10px;
    color: #999;
    transition: all .3s ease;
}
.Form-Item input:focus + label,
.Form-Item input:valid + label{
    font-size: 11px;
    top: -5px;
}
.Form-Item input:focus + label{
    color: blue;
}
